body {
    font-family: 'Roboto';
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header, .hero
{
    background-color: #1F2937;
    font-family: 'Roboto';
    padding-left: 100px;
    padding-right: 100px;
}

.header .logo {
    color: #F9FAF8;
    font-size: 24px;
}

.hero h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: extra-bold;
    margin: 0;
}
 
.hero p, .header-links {
    font-size: 18px;
    color: #E5E7EB;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

.header-links {
    display: flex;
    padding: 16px;
    gap: 2em;
}

.hero {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 48px;
    padding-bottom: 72px;
}

.hero-left {
    padding-right: 24px;
    flex-grow: 0;
    width: 400px;
}

.hero-left button {
    width: 96px;
    border-radius: 8px;
    padding: 8px 16px;
    background-color: #3882F6;
    color: #E5E7EB;
    border: none;
}



.middle {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

h2 {
    font-size: 36px;
    color:#1F2937;
    text-align: center;
}

.random {
    display: flex;
    flex-direction: row;
    gap: 4em;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px 0px;
}

.random img {
    border-radius: 8px;
    width: 200px;
    height: 200px;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    font-size: 36px;
    color:#1F2937;
    padding: 48px;
    font-style: italic;
}

.quote p {
    display: flex;
    width: 800px;
    margin: 0;
}

.quote .p2 {
display: flex;
justify-content: flex-end;
margin: 0;
font-weight: bold;
font-style: normal;
}

.cta {
    background-color: #3882F6;
    border-radius: 16px;
    color: #E5E7EB;
    display: flex;
    justify-content: space-between;
    padding: 36px 72px;
    font-size: 18px;
    max-width: 80%;
    align-self: center;
    gap: 4em;
    margin-top: 72px;
    margin-bottom: 72px;
}

h3 {
    font-size: 24px;
    margin: 0;
}

.cta p {
    margin: 0;
}

.cta button {
    width: 96px;
    height: 32px;
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 8px;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    align-self: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    font-family: 'Roboto';
    color: #F9FAF8;
    margin: 0;
}